/*activity card*/
.list-section {
    margin-top: 50px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 60px;

    display: flex;
}

.card-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    /* max-height: 350px; */
    display: flex;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.0);
    background-color: #fff;
}
.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card .text-content {
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

/* title */
.card .text-content h2 {
    font-family: "Georama", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: larger;
    margin-top: 0;
    margin-bottom: 7px;
}
.card .text-content .h2-link {
    text-decoration: none;
    color: black;
}
.card .text-content .h2-link:visited {
    color: black;
}

/* authors */
.card .text-content .authors{
    font-family: "Georama", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: medium;
    color: grey;
    margin-bottom: 8px;
}
.card .text-content .authors .me{
    font-weight: 400;
    color: #333;
}

.card .text-content .content {
    font-family: "Georama", sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    color: #333;
}
.card .text-content .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* margin-top: auto; */
}



.card .image-content {
    display: flex;
    justify-content: center;
    overflow: clip;
    border-radius: 0 0 10px 10px;
    margin-top: auto;
}
.card .image-content img{
    object-fit: cover;
    width: 100%;
    max-height: 250px;
    height: auto;
}
.card .image-content .image-description {
    display: none;
}

/* when viewed from a tablet */
@media (max-width: 1000px) {
    .card-list{
        grid-template-columns: 1fr;
    }
}


/* when viewed from a mobile */
@media (max-width: 750px) {

}
